*{
    margin: 0;
    padding: 0;
}

body{
    
}
header{
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
nav{
    width: 29%;
    height: 100vh;
    background: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.img_of_person{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 100%;
    margin-top: 50px;
}
.name_of_person{
    color: white;
    position: absolute;
    margin-top: 171px;
}
.name_of_profission{
    color: white;
    position: absolute;
    margin-top: 209px;
}