*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100vh;
    background: url(./image/teste01.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
nav{
    width: 29%;
    height: 79vh;
    background: black;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    opacity: 0.9;
}
.img_of_person{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 100%;
    margin-top: 50px;
}
.name_of_person{
    color: white;
    position: absolute;
    margin-top: 171px;
    font-size: 30px;
    font-family: 'Ubuntu Mono', monospace;
}
.name_of_profission{
    position: absolute;
    margin-top: 216px;
    color: #c5c5c5;
    font-size: 23px;
    font-family: 'Ubuntu Mono', monospace;
}
ul{
    width: 29%;
    position: absolute;
    margin-top: 300px;
    transition: all 1s;
}
ul:hover, li:focus {
    color: white;
    outline: 0;
    transition: all 2s;
}
li{
    list-style: none;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 16px;
    font-family: monospace;
}
li:hover, li:focus {
    background: red;
    outline: 0;
    transition: all 1s;
}
a{
    list-style: none;
    text-decoration: none
}