*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}
header{
    width: 24%;
    height: 100vh;
    background: black;
    margin-left: 20px;
    position: absolute;
    text-align: center;
}
nav{
    text-align: center;
    margin-top: 21px;
}
a{
    text-decoration: none;
    color: red;
}
li{
    text-decoration: none;
    color: white;
    padding: 28px 0px 0px 0px;
    list-style: none;
}
/*Teste de efeito li*/
li:hover, li:focus {
    color: #fff;
    outline: 0;
}
  
li:hover, li:focus {
    color: red;
    outline: 0;
}

/*termina aqui o teste*/
.copy{
    color: white;
    margin-top: 60px;
}
#image_profile{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background: red;
    position: absolute;
    margin: 45px 0px 0px 107px;

}
.name_of_persona{
    color: white;
    margin-top: 177px;
    font-size: 30px;
    font-family: 'Ubuntu Mono', monospace;
}
.title_of_profision{
    color: #c5c5c5;
    margin-top: 10px;
    font-size: 23px;
    font-family: 'Ubuntu Mono', monospace;

}
main{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: inline-block;
  
}
section{
    width: 72%;
    height: 500vh;
    background: white;
    margin-left: 365px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;

}
#home{
    width: 100%;
    height: 100vh;
    background: white;
    animation: go-back 1s;
}
/*Teste de animação*/
@keyframes go-back {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
} 
/*teste*/
@keyframes deslizar{
    0%   { margin-left: 0px; }
    50%  { margin-left: 200px; }
    100% { margin-left: 0px; }
}
.computer{
    width: 531px;
    height: 461px;
    background-image: url(../image/smartmockups_kta4ew6w.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 0px 0px 421px;
}
.first_home{
    width: 388px;
    height: 171px;
    margin: -279px 0px 0px 87px;
    z-index: 1;
    color: black;
}

#Title_apresentacion{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 40px;
    padding-bottom: 59px;
}
.cv{
    border-style: solid;
    padding: 10px;
    color: black;
}
#about{
    width: 100%;
    height: 100vh;
    animation: go-back 2s;
}
#second_title{
    margin: 83px 0px 0px 88px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
}
#text_about_me{
    width: 863px;
    font-size: 18px;
    line-height: 38px;
    margin: 30px 0px 0px 88px;
    font-weight: lighter;
    font-family: 'Ubuntu Mono', monospace;
}
#blocks{
    width: 100%;
    height: 300px;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.block_of_the_know{
    width: 200px;
    height: 200px;
    background: white;
    box-shadow: 0px 0px 15px -3px grey;
    margin: 51px 63px 0px 64px;
    text-align: center;
    transition: all .4s;
}
.block_of_the_know:hover{
    transform: translateY(-30px);
  }
#icon_web_multidevice_layout{
    width: 105px;
    height: 100px;
    background-image: url(../icons/web_multidevice_layout.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -37px 0px 0px 47px;
    filter: drop-shadow(0px 3px 3px grey);
}
.phases{
    margin-top: 41px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 100;
    font-size: 16px;
}
.the_block_line_front{
    width: 100%;
    height: 3px;
    background: red;
    margin-top: 74px;
}
#icon_web_design_layout{
    width: 118px;
    height: 100px;
    margin: -37px 0px 0px 43px;
    filter: drop-shadow(0px 3px 3px grey);
    background: url(../icons/web_design_layout_desktop.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.the_block_line_web{
    width: 100%;
    height: 3px;
    background: blue;
    margin-top: 74px;
}
#icon_app_mobile_layout{
    width: 118px;
    height: 100px;
    margin: -37px 0px 0px 43px;
    filter: drop-shadow(0px 2px 0px grey);
    background: url(../icons/app_design_mobile.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.the_block_line_app{
    width: 100%;
    height: 3px;
    background: blueviolet;
    margin-top: 74px;
}
/*IDIOMAS*/
select{
    position: absolute;
    margin-left: 96px;
    margin-top: 45px;
    color: white;
    background: black;
    border-style: solid;
    border-color: white;
    padding: 1px;
    outline: none;
}
/*TESTE DE SLIDE OBS: PROBLEMAS*/
.slider {
	margin: auto;
}
.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}
.slide {
	float: left;
	position: absolute;
	width: 979px;
	height: 100vh;
	opacity: 0;
	transition: opacity 3s linear;
    margin: 0px 0px 0px 0px;
}
.slider-wrapper > .slide:first-child {
	opacity: 0;
}
/*SCROLL*/
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}