*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}
header{
    width: 24%;
    height: 100vh;
    background: black;
    margin-left: 20px;
    position: absolute;
    text-align: center;
}
nav{
    text-align: center;
    margin-top: 21px;
}
a{
    color: white;
}
/*Teste de efeito li*/
a:hover, a:focus {
    color: #fff;
    outline: 0;
}
a:hover, a:focus {
    color: red;
    outline: 0;
}
li{
    text-decoration: none;
    color: white;
    padding: 28px 0px 0px 0px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
/*Teste de efeito li*/
li:hover, li:focus {
    color: #fff;
    outline: 0;
}
li:hover, li:focus {
    color: red;
    outline: 0;
}
/*termina aqui o teste*/
.copy{
    color: white;
    margin-top: 47px;
    line-height: 26px;
}
.instagram{
    color: white;
    margin-top: 60px; 
    margin-left: -75px;
}
#image_profile{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background: red;
    position: absolute;
    margin: 45px 0px 0px 107px;
}
.name_of_persona{
    color: white;
    margin-top: 177px;
    font-size: 30px;
    font-family: 'Ubuntu Mono', monospace;
}
.title_of_profision{
    color: #c5c5c5;
    margin-top: 10px;
    font-size: 23px;
    font-family: 'Ubuntu Mono', monospace;
}
main{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: inline-block;
}
section{
    width: 72%;
    height: 500vh;
    background: white;
    margin-left: 365px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}
/*HOME*/
#home{
    width: 100%;
    height: 100vh;
    background: white;
    animation: go-back 1s;
}
/*Teste de animação*/
@keyframes go-back {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
} 
.computer{
    width: 531px;
    height: 461px;
    background-image: url(../image/smartmockups_kta4ew6w.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 0px 0px 421px;
}
.first_home{
    width: 388px;
    height: 171px;
    margin: -279px 0px 0px 87px;
    z-index: 1;
    color: black;
}
#Title_apresentacion{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 40px;
    padding-bottom: 59px;
}
.cv{
    border-style: solid;
    padding: 10px;
    color: black;
}
/*ABOUT*/
#about{
    width: 100%;
    height: 100vh;
    animation: go-back 1s;
   
}
/*Teste de animação*/
@keyframes go-back {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
}
#second_title{
    margin: 44px 0px 0px 88px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
}
#text_about_me{
    width: 863px;
    font-size: 18px;
    line-height: 38px;
    margin: 30px 0px 0px 88px;
    font-weight: lighter;
    font-family: 'Ubuntu Mono', monospace;
}
#blocks{
    width: 100%;
    height: 300px;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.block_of_the_know{
    width: 200px;
    height: 200px;
    background: white;
    box-shadow: 0px 0px 15px -3px grey;
    margin: 51px 63px 0px 64px;
    text-align: center;
    transition: all .4s;
}
.block_of_the_know:hover{
    transform: translateY(-30px);
  }
#icon_web_multidevice_layout{
    width: 105px;
    height: 100px;
    background-image: url(../icons/web_multidevice_layout.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -37px 0px 0px 47px;
    filter: drop-shadow(0px 3px 3px grey);
}
.phases{
    margin-top: 41px;
    font-family: monospace;
    font-weight: 100;
    font-size: 16px;
}
.the_block_line{
    width: 100%;
    height: 3px;
    background: red;
    margin-top: 74px;
}
#icon_web_design_layout{
    width: 118px;
    height: 100px;
    margin: -37px 0px 0px 43px;
    filter: drop-shadow(0px 3px 3px grey);
    background: url(../icons/web_design_layout_desktop.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#icon_app_mobile_layout{
    width: 118px;
    height: 100px;
    margin: -37px 0px 0px 43px;
    filter: drop-shadow(0px 2px 0px grey);
    background: url(../icons/app_design_mobile.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*SKILL*/
#skill{
    width: 100%;
    height: 100vh;
    background: white;
    animation: go-back 1s;
}
/*Teste de animação*/
@keyframes go-back {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
}
#Three_title{
    margin: 44px 0px 0px 88px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
}
#text_skill{
    width: 863px;
    font-size: 18px;
    line-height: 38px;
    margin: 30px 0px 0px 88px;
    font-weight: lighter;
    font-family: 'Ubuntu Mono', monospace;
}
#campo{
    margin: 30px 0px 0px 88px;
}
.imag_of_block_skill{
    width: 54%;
    height: 62vh;
    background-image: url(../image/test_of_image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 451px;
    margin-top: 4px; 
}
#only_skill{
    margin: -217px 0px 0px 88px;
    font-size: 17px;
    line-height: 38px;
    font-weight: lighter;
    color: gray;
    font-family: 'Ubuntu Mono', monospace;
}
.first_cicle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: grey;
    margin: 168px 0px 0px 716px;
}
.second_cicle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: grey;
    margin: -30px 0px 0px 763px;
}
/*WORK*/
#work{
    width: 100%;
    height: 100vh;
    background: white;
    animation: go-back 1s;
}
#button_galery{
    width: 500px;
    height: 50px;
    margin: 48px 0px 0px 100px;
    display: inline-block;
    text-align: center;
}
.button_of_galary{
    text-decoration: none;
    color: black;
    padding: 7px 35px;
    border-style: solid;
    margin: 51px 33px 0px 0px;
    line-height: 3.1;
}
label{
    width: 80%;
    height: 459px;
    background: blue;
    margin: 0px 0px 0px 47px;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#web_design{
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}


.block{
    width: 144px;
    height: 130px;
    background: brown;
    margin-left: 50px;

}
#graphic_design{
    width: 100%;
    height: 100%;
    background: white;
    cursor: pointer;
    margin-left: -783px;
    margin-top: 918px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.three_cicle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: grey;
    margin: -60px 0px 0px 715px;
}
.four_cicle{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: grey;
    margin: -30px 0px 0px 762px;
}
/*Teste de animação*/
@keyframes go-back{
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
}
#Four_title{
    margin: 44px 0px 0px 88px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
}

/*Conctact*/
#contact{
    width: 100%;
    height: 100vh;
    background: white;
}
.fifth_title{
    margin: 44px 0px 0px 88px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
}
.information_contact{
    width: 364px;
    height: 371px;
    display: flex;
    margin: 103px 0px 0px 89px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
}
.icon_cell_phone{
    width: 50px;
    height: 50px;
    background-image: url(../icons/cell_phone_01.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text_information_page_contact{
    margin: -41px 0px 0px 79px;
    font-weight: 500;
    font-size: 19px;
    font-family: 'Ubuntu Mono', monospace;
}
.icon_maps{
    width: 50px;
    height: 50px;
    background-image: url(../icons/icon_03.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon_email{
    width: 50px;
    height: 50px;
    background-image: url(../icons/icons-email.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.maps{
    margin-top: 87px;
}
.email_of_information_contact{
    margin-top: 104px;
}
.how_inputs_of_the_contact{
    width: 448px;
    height: 431px;
    margin: -399px 0px 0px 526px;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
#name{
    padding: 12px;
    width: 74%;
    border: solid;
    border-radius: 2px;
    margin-top: -22px;;

}
#email{
    padding: 12px;
    width: 74%;
    border: solid;
    border-radius: 2px;
    margin-top: 37px;
}
#subject{
    padding: 12px;
    width: 74%;
    border: solid;
    border-radius: 2px;
    margin-top: 37px
}
#Send{
    padding: 10px;
    width: 138px;
    border-style: none;
    background: black;
    color: white;
    margin-top: 18px;
    cursor: pointer;
    box-shadow: 0px 16px 16px -9px black;
}
/*Finaly the page contact*/

/*IDIOMAS*/
select{
    position: absolute;
    margin-left: 96px;
    margin-top: 45px;
    color: white;
    background: black;
    border-style: solid;
    border-color: white;
    padding: 1px;
    outline: none;
}
/*TESTE DE SLIDE OBS: PROBLEMAS*/
.slider {
	margin: auto;
}
.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}
.slide {
	float: left;
	position: absolute;
	width: 979px;
	height: 100vh;
	opacity: 0;
	transition: opacity 3s linear;
    margin: 0px 0px 0px 0px;
}
.slider-wrapper > .slide:first-child {
	opacity: 0;
}
/*SCROLL*/
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}