*{
    margin: 0;
    padding: 0;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}
header{
    width: 24%;
    height: 100vh;
    background: black;
    margin-left: 20px;
    position: absolute;
    text-align: center;
}
nav{
    text-align: center;
    margin-top: 21px;
}
a{
    text-decoration: none;
    color: red;
}
li{
    text-decoration: none;
    color: white;
    padding: 28px 0px 0px 0px;
    list-style: none;
}
/*Teste de efeito li*/
li:hover, li:focus {
    color: #fff;
    outline: 0;
}
  
li:hover, li:focus {
    color: red;
    outline: 0;
}

/*termina aqui o teste*/
.copy{
    color: white;
    margin-top: 60px;
}
#image_profile{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background: red;
    position: absolute;
    margin: 45px 0px 0px 107px;

}
.name_of_persona{
    color: white;
    color: white;
    margin-top: 177px;
    font-size: 30px;
    font-family: 'Ubuntu Mono', monospace;
}
.title_of_profision{
    color: #c5c5c5;
    margin-top: 10px;
    font-size: 23px;
    font-family: 'Ubuntu Mono', monospace;

}
main{
    width: 100%;
    height: 100vh;
    background: red;
    overflow-y: scroll;
    display: inline-block;
  
}
/*HOME*/
#home{
    width: 72%;
    height: 100vh;
    background: aquamarine;
    margin-left: 365px;
    display: inline-block;
}
.apresentacion_home{
    width: 328px;
    height: 171px;
    position: absolute;
    margin: -76px 0px 0px 100px;
}

.apresentacion {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 53px;
    padding-bottom: 59px;

}
.cv{
    border-style: solid;
    color: black;
    padding: 10px;
}
#about{
    width: 72%;
    height: 100vh;
    background: blue;
    margin-left: 365px;
}
#skill{
    width: 72%;
    height: 100vh;
    background: magenta;
    margin-left: 365px;
}
#work{
    width: 72%;
    height: 100vh;
    background: brown;
    margin-left: 365px;
}
#contact{
    width: 72%;
    height: 100vh;
    background: midnightblue;
    margin-left: 365px;
}

/*IDIOMAS*/
select{
    position: absolute;
    margin-left: 96px;
    margin-top: 45px;
    color: black;
    background: white;
    border-style: hidden;
    padding: 1px;
    outline: none;
}

/*TESTE DE SLIDE OBS: PROBLEMAS*/
.slider {
	margin: auto;
}

.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 979px;
	height: 100vh;
	opacity: 0;
	transition: opacity 3s linear;
    margin: 0px 0px 0px 0px;
}

.slider-wrapper > .slide:first-child {
	opacity: 0;
}


/*SCROLL*/
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}