*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
/*Mobile*/
@media  only screen and  (max-width: 768px),  only screen and (max-device-width: 768px){
    body{
        overflow-x: hidden;
    }
    main {
        overflow-x: hidden;
        height: 100vh;
        overflow-y: scroll;
        display: inline-block;
    }
    select {
        position: absolute;
        margin-left: -79px;
        margin-top: 45px;
        color: white;
        background: black;
        border-style: solid;
        border-color: white;
        padding: 1px;
        outline: none;
    }
    /*HEADER*/
    nav {
        text-align: center;
        margin-top: 5px;
    }
    #image_profile {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background: red;
        position: absolute;
        margin: 77px 0px 0px 38%;
    }
    .name_of_persona {
        color: white;
        margin-top: 171px;
        font-size: 19px;
        font-family: 'Ubuntu Mono', monospace;
    }
    .title_of_profision {
        color: #c5c5c5;
        margin-top: 7px;
        font-size: 17px;
        font-family: 'Ubuntu Mono', monospace;
    }
    li {
        text-decoration: none;
        color: white;
        padding: 18px 0px 3px 0px;
        list-style: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    .copy {
        color: white;
        margin-top: 23px;
        line-height: 26px;
        font-size: 11px;
    }
    .instagram {
        color: white;
        margin-top: 60px;
        margin-left: -59px;
    }
    /*BUTTON MENU*/
    span {
        display: grid;
    }
    .menu-mobile {
        width: 85%;
        height: 100vh;
        background: black;
        margin-left: -30px;
        text-align: center;
        position: fixed;
        overflow: hidden;
        overflow-y: auto;
        z-index: 100;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
    }
    .menu-mobile ul li {
        font-size: 14px;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    .menu-mobile ul li a {
        display: block;
        padding: 12px;
        text-decoration: none;
        color: #fff;
    }
    .menu-mobile ul li a:hover {
        background-color: rgba(0,0,0,.1);
    }
    .btn-menu {
        width: 29px;
        height: -9px;
        position: absolute;
        margin: 18px 0px 0px -24px;
        padding: 10px;
        background-color: rgb(0, 0, 0);
        cursor: pointer;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
    }
    .btn-menu span {
        height: 3px;
        display: block;
        margin-left: 5px;
        background-color: #fff;
    }
    .menu-mobile {transform: translateX(-270px);}
    .btn-menu {transform: translateX(0);}
    .btn-menu-active .menu-mobile {
        transform: translateX(0);
    }
    .btn-menu-active .btn-menu {
        transform: translateX(280px);
        left: 0px;
    }
    section {
        width: 100%;
        height: 500vh;
        background: white;
        margin-left: 0%;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }
    /*HOME*/
    #home{
        width: 100%;
        height: 100vh;
        background: white;
        animation: go-back 1s;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }
    .computer {
        width: 100%;
        height: 248px;
        background-image: url(../image/smartmockups_kta4ew6w.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 31px 0px 0px 0%;
    }
    .first_home {
        width: 388px;
        height: 171px;
        margin: 83px 0px 0px 0%;
        z-index: 1;
        display: flex;
        color: black;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
    }
    .cv{
        border-style: solid;
        padding: 10px;
        color: black;
        box-shadow: 0px 16px 16px -9px black;
    }
    /*Teste de efeito li*/
    .cv:hover, .cv:focus {
        color: #fff;
        outline: 0;
    }
    #Title_apresentacion {
        font-family: 'Ubuntu Mono', monospace;
        font-size: 19px;
        padding-bottom: 59px;
        width: 171px;
        margin-left: 10%;
    }
    #about {
        width: 100%;
        height: 100vh;
        animation: go-back 1s;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        text-align: center;
    }
    #second_title {
        margin: 44px 0px 0px 0px;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 28px;
    }
    #text_about_me {
        width: 86%;
        font-size: 18px;
        line-height: 38px;
        margin: 30px 0px 0px 0px;
        font-weight: lighter;
        font-family: 'Ubuntu Mono', monospace;
    }
    #blocks {
        width: 100%;
        height: 2854px;
        margin-top: 13px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    /*SKILL*/
    #skill {
        width: 100%;
        height: 100vh;
        animation: go-back 1s;
        margin-top: 894px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        text-align: center;
        align-items: center;
    }
    #Three_title {
        margin: 44px 0px 0px 0px;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 30px;
    }
    #text_skill {
        width: 86%;
        font-size: 17px;
        line-height: 38px;
        margin: 30px 0px 0px 0px;
        font-weight: lighter;
        font-family: 'Ubuntu Mono', monospace;
    }
    #Element_father {
        width: 100%;
        height: 172px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        margin-top: 204px;
    }
    .imag_of_block_skill {
        width: 63%;
        height: 92%;
        background-image: url(../image/test_of_image.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 8px;
        margin-left: -25px;
    }
    #only_skill {
        margin: -275px 0px 0px 0px;
        font-size: 17px;
        line-height: 38px;
        font-weight: lighter;
        width: 86%;
        color: gray;
        font-family: 'Ubuntu Mono', monospace;
    }
    .cicles_blocks{
        margin-left: -598px;
        margin-top: 80px;
        
    }
    .three_cicle {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: red;
        margin: -198px 0px 0px 715px;
    }
    /*WORK*/
    #work {
        width: 100%;
        height: 100vh;
        animation: go-back 1s;
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
        align-content: center;
        align-items: center;
    }
    #Four_title {
        margin: 44px 0px 0px 0px;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 30px;
    }
    #text_about_some_works {
        width: 86%;
        font-size: 17px;
        line-height: 38px;
        margin: -33px 0px 0px 0px;
        font-weight: lighter;
        font-family: 'Ubuntu Mono', monospace;
    }
    #galary {
        width: 100%;
        height: 459px;
        margin: 16px 0px 0px 0px;
        text-align: center;
        overflow-y: scroll;
    }
    #web_design {
        width: 94%;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 407px 0px 0px 0px;
    }
    .block {
        width: 165px;
        height: 153px;
        background: brown;
        margin-bottom: 31px;
    }
    #first_title_what_about_work {
        margin-top: 27px;
        font-size: 19px;
        line-height: 38px;
        font-weight: lighter;
        font-family: 'Ubuntu Mono', monospace;
    }
    #second_title_what_about_work{
        margin-top: 412px;
        font-size: 19px;
        line-height: 38px;
        font-weight: lighter;
        font-family: 'Ubuntu Mono', monospace;
    }
    #graphic_design {
        width: 94%;
        height: 100%;
        background: white;
        cursor: pointer;
        margin-top: 410px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    /*CONTACT*/
    #contact {
        width: 100%;
        height: 100vh;
        background: white;
        animation: go-back 1s;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .with_inputs_of_the_contact {
        width: 100%;
        height: 431px;
        margin: -399px 0px 0px 0%;
        background: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .fifth_title {
        margin: 44px 0px 0px 0px;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 30px;
    }
    .information_contact {
        width: 80%;
        height: 371px;
        display: flex;
        margin: 590px 0px 0px 0px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: flex-start;
        font-size: 15px;
    }
    .with_inputs_of_the_contact {
        width: 100%;
        height: 431px;
        margin: -828px 0px 0px 0%;
        background: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    .text_information_page_contact {
        margin: -41px 0px 0px 79px;
        font-weight: 200;
        font-size: 15px;
        font-family: 'Ubuntu Mono', monospace;
    }
    footer {
        margin: -509px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
    }
}
