*{
    margin: 0;
    padding: 0;
}
/*Mobile*/
@media  only screen and  (max-width: 768px),  only screen and (max-device-width: 768px){
    body{
        overflow-x: hidden;
    }
    .image_404{
        width: 297px;
        height: 324px;
        background-image: url(../image/404.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        margin-top: -98px;
    }
    .container{
        width: 100%;
        height: 100vh;
        display: flex;
        text-align: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .number_404 {
        font-family: 'Ubuntu Mono', monospace;
        font-size: 87px;
        margin-top: -495px;
        position: absolute;
    }
    .text_below_number_404 {
        position: absolute;
        font-family: 'Ubuntu Mono', monospace;
        margin-top: 353px;
        font-size: 12px;
        width: 100%;
    }
    .back {
        padding: 10px;
        font-family: 'Ubuntu Mono', monospace;
        width: 98px;
        border-style: none;
        background: black;
        color: white;
        cursor: pointer;
        text-align: center;
        box-shadow: 0px 16px 16px -9px black;
        margin: 498px 0px 0px 0px;
        text-decoration: none;
        position: absolute;
    }
    .back:hover, .back:focus {
        color: #fff;
        outline: 0;
    }
    .back:hover, .back:focus {
        background: red;
        box-shadow: 0px 16px 16px -9px red;
        outline: 0;
    }
    
    /*
        
        
     ____      ____  _____    _____      ___  ____    ________   _______     
    |_  _|    |_  _||_   _|  |_   _|    |_  ||_  _|  |_   __  | |_   __ \    
      \ \  /\  / /    | |      | |        | |_/ /      | |_ \_|   | |__) |   
       \ \/  \/ /     | |      | |   _    |  __'.      |  _| _    |  __ /    
        \  /\  /     _| |_    _| |__/ |  _| |  \ \_   _| |__/ |  _| |  \ \_  
         \/  \/     |_____|  |________| |____||____| |________| |____| |___| 
                                                                             
       
    */
}